@{
    ViewData["Title"] = "ErrorResponce";
}

@model ResponseModel;

<h1 style="color:red">    ErrorResponce</h1>

<p>@Model.ErrorMessage</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back</a>

